#time{
    width: 1090px;
    height: 250px;
    color: white;
    padding-left: 12px;
}
li{
    width: 270px;
    list-style: none;
    
 
}
#time2{
    width: 670px;
}
#a{
    width: 60px;
}
a{
    text-decoration: none;
    color: white;

}
a:hover{
    color: white;
}
#time3{
    width: 190px;
    
}

#time4{
    width: 670px;  
}
#banner{
    width: 1250px;
    margin-left: 20%;
    padding-top: 2%;
    
    
}

#card{
    width: 15%;
    margin-top: 10px;
    margin-left: 8%;
    background-color:  rgb(121, 13, 50);
    color: white;
}

#jogos{
    margin-left: 5%;
    color: white;
    margin-bottom: 5%;
    background-color:  rgb(121, 13, 50);

}

#pai{
    overflow: hidden;
    padding-left: 50px;
}

.jogo2{
    margin-top: 50px;
    height: 275px;
}

.botao {
    margin-bottom: 15px;
}

#jogos img{
    width: 50%;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}

#jogos p{
    margin-left: 5%;
}

#jogos a{
    margin-left: 65%;
}

h5{
    padding-top: 3px;
    padding-bottom: 3px;
}

body{
    background: rgb(148,14,60);
    background: linear-gradient(106.9deg, rgba(148,14,60,1) 60.9%, rgba(3,22,27,1) 122.3%);
}
#navbarNav{
    border-color: black;
    background-color: rgb(121,13,50);

    
}


