#time{
    width: 1090px;
    height: 250px;
    color: white;
    padding-left: 12px;
}
li{
    width: 270px;
    list-style: none;
    
 
}
#time2{
    width: 670px;
}
#a{
    width: 60px;
}
a{
    text-decoration: none;
    color: white;

}
a:hover{
    color: white;
}
#time3{
    width: 190px;
    
}

#time4{
    width: 670px;  
}
#banner{
    width: 1250px;
    margin-left: 2%;
    padding-top: 2%;
    
    
}

#card{
    width: 15%;
    margin-top: 10px;
    margin-left: 8%;
    background-color:  rgb(121, 13, 50);
    color: white;
}

#jogos{
    margin-left: 5%;
    color: white;
    margin-bottom: 5%;
    background-color:  rgb(121, 13, 50);

}

#pai{
    overflow: hidden;
    padding-left: 50px;
}

.jogo2{
    margin-top: 50px;
    height: 275px;
}

.botao {
    margin-bottom: 15px;
}

#jogos img{
    width: 50%;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}

#jogos p{
    margin-left: 5%;
}

#jogos a{
    margin-left: 65%;
}

h5{
    padding-top: 3px;
    padding-bottom: 3px;
}

body{
    background: rgb(148,14,60);
    background: linear-gradient(106.9deg, rgba(148,14,60,1) 60.9%, rgba(3,22,27,1) 122.3%);
}
#navbarNav{
    border-color: black;
    background-color: rgb(121,13,50);

    
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  height: 90%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 1s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;

}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


