#time{
    width: 1090px;
    height: 250px;
    color: white;
    padding-left: 12px;
}
li{
    width: 270px;
    list-style: none;
    
 
}
#time2{
    width: 670px;
}
#a{
    width: 60px;
}
a{
    text-decoration: none;
    color: white;

}
a:hover{
    color: white;
}
#time3{
    width: 190px;
    
}

#time4{
    width: 670px;  
}
#banner{
    width: 1250px;
    margin-left: 20%;
    padding-top: 2%;
    
    
}

#card{
    width: 15%;
    margin-top: 10px;
    margin-left: 8%;
    background-color:  rgb(121, 13, 50);
    color: white;
}

#jogos{
    margin-left: 5%;
    color: white;
    margin-bottom: 5%;
    background-color:  rgb(121, 13, 50);

}

#pai{
    overflow: hidden;
    padding-left: 50px;
}

.jogo2{
    margin-top: 50px;
    height: 275px;
}

#botao {
    margin-bottom: 15px;
    height: 42px;
    margin-top: 9px;
    float: right;
    
}

#jogos img{
    width: 50%;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}

#jogos p{
    margin-left: 5%;
}

#jogos a{
    margin-left: 65%;
}

h5{
    padding-top: 3px;
    padding-bottom: 3px;
}

body{
    background: rgb(148,14,60);
    background: linear-gradient(106.9deg, rgba(148,14,60,1) 60.9%, rgba(3,22,27,1) 122.3%);
}
#navbarNav{
    border-color: black;
    background-color: rgb(121,13,50);

    
}

#fo{
  padding-top: 20px;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  
}

#customers td{
  border: 1px solid #ddd;
}

#customers th {
  border: 1px solid #04AA6D;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:nth-child(odd){background-color: snow;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  text-align: left;
  background-color: #04AA6D;
}

.caixa{
  width: 1100px;
}

.tabela{
  width: 90%;
  margin-left: 50%;
  padding-top: 10px;
}

.tabela td, .tabela th{
  padding: 5px 5px 5px 25px;

}

.nome{
  font-size: 30px;
}

.posicao{
  width: 10px;
}

.imagemJ{
  width: 100%;
}

.number{
  width: 50px;
}

.age{
  width: 100px;
}

.foto{
  width: 120px;
}

.ger{
  width: 100px;
}

/*.name{
  width: 40px;
}*/


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  height: 90%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 1s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
#t1{
    margin-left: 5%;
    color: white;
    margin-bottom: 5%;
    background-color:  rgb(121, 13, 50);
    width: 750px;
    

}
#t2{
    margin-left: 5%;
    color: white;
    margin-bottom: 5%;
    background-color:  rgb(121, 13, 50);
    width: 750px;
}
#foto1,#foto2{
    width: 390px;
    float: left;
    margin-right: 15px;
    margin-top: 20px;
}
p, h3{
    margin-top: 20px;
}
#bandeira1{
    float: left;

}
#bandeira2{
    float: right;
}
#placar{
    text-align: center;;
    
}
#t3{
    margin-left: 5%;
    color: white;
    margin-bottom: 5%;
    background-color:  rgb(121, 13, 50);
    width: 400px;
}



