#time{
    width: 1090px;
    height: 250px;
    color: white;
    padding-left: 12px;
}
li{
    width: 270px;
    list-style: none;
    
 
}
#time2{
    width: 670px;
}
#a{
    width: 60px;
}
a{
    text-decoration: none;
    color: white;

}
a:hover{
    color: white;
}
#time3{
    width: 170px;
}
#time4{
    width: 670px;  
}
body{
    background-image: linear-gradient( 106.9deg,  rgba(148,14,60,1) 60.9%, rgba(3,22,27,1) 122.3% );
}
#navbarNav{
    border-color: black;
    background-color: rgb(121,13,50);

    
}